
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:#f8fafc;
  color:#0f172a;
}

.hero{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#60a5fa,#a78bfa);
  color:white;
  text-align:center;
}

.hero h1{
  font-size:60px;
  font-weight:700;
}

.hero h3{
  margin-top:10px;
  font-weight:400;
}

.section{
  padding:80px 60px;
  text-align:center;
}

.section.light{
  background:white;
}

.section h2{
  font-size:32px;
  margin-bottom:20px;
}

.skills{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:15px;
}

.skills span{
  background:#e0e7ff;
  padding:12px 22px;
  border-radius:25px;
  font-weight:600;
}

.clickable{
  cursor:pointer;
  color:#4f46e5;
}

#avatarBox{
  display:none;
  margin-top:20px;
}

#avatarBox img{
  width:220px;
  border-radius:20px;
  box-shadow:0 10px 30px rgba(0,0,0,0.25);
}

.hobbies p{
  font-size:18px;
  margin:10px;
  cursor:pointer;
  color:#4f46e5;
}

#hobbyBox{
  margin-top:25px;
}

#hobbyBox img{
  width:260px;
  border-radius:20px;
  box-shadow:0 10px 30px rgba(0,0,0,0.25);
}

form{
  max-width:400px;
  margin:0 auto;
  display:flex;
  flex-direction:column;
  gap:15px;
}

input,textarea{
  padding:12px;
  border-radius:10px;
  border:1px solid #cbd5e1;
}

button{
  padding:12px;
  border:none;
  border-radius:20px;
  background:#4f46e5;
  color:white;
  font-weight:600;
  cursor:pointer;
}
